<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head}">
<meta charset="UTF-8">
<title>Título de la página</title>
</head>

<body>
	<div th:replace="~{base :: cabecera}">Cabecera</div>
	
	<div th:replace="~{base :: menu}">Menu de opciones</div>
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Inicio</a></li>
			<li class="breadcrumb-item"><a href="/equipamiento/">Equipamientos</a></li>
			<li class="breadcrumb-item active" aria-current="page">Borrar</li>
		</ol>
	</nav>

	<main role="main" class="container">
		<div class="card border-dark mb-3" style="max-width: 18rem;">
		  <div class="card-header">
		  	Datos del Modelo
		  </div>
		  <div class="card-body text-dark"
		  	th:object="${coche}">
			<p class="card-text">
				<span style="font-weight: bold">Id</span>: <span th:text="*{id}">1</span>
			</p>
			<p class="card-text">
				<span style="font-weight: bold">Nombre</span>: <span
					th:text="*{nombre}">Nombre del modelo</span>
			</p>
			<p class="card-text">
				<span style="font-weight: bold">Precio Base</span>: <span
					th:text="*{#numbers.formatCurrency(precioBase)}">40000.0 €</span>
			</p>
			<p class="card-text">
				<span style="font-weight: bold">Motor</span>: <span
					th:text="*{motor.nombreBonito}">Descripción del motor</span>
			</p>
		  </div>
		</div>


		<div class="card border-dark mb-3" style="max-width: 18rem;">
		  <div class="card-header">Datos del Equipamiento</div>
		  <div class="card-body text-dark"
		  	th:object="${equipamiento}">
			<p class="card-text">
				<span style="font-weight: bold">Id</span>: <span th:text="*{id}">1</span>
			</p>
			<p class="card-text">
				<span style="font-weight: bold">Descripción</span>: <span
					th:text="*{descripcion}">Elevalunas electrico</span>
			</p>
			<p class="card-text">
				<span style="font-weight: bold">Precio</span>: <span
					th:text="*{#numbers.formatCurrency(precio)}">4000.0 €</span>
			</p>
		  </div>
		</div>
		
		<div class="card text-center">
		  <div class="card-header">
			¿Está seguro de borrar el objeto?
		  </div>
		  <div class="card-body text-center">
			<a class="btn btn-secondary" th:href="@{/modelo/equipamientos/{idc}(idc=${coche.id})}">No</a>
			<a class="btn btn-danger"
				th:href="@{/modelo/equipamientos/{idc}/borrar-definitivamente/{ide}(idc=${coche.id},ide=${equipamiento.id})}">Sí</a>
			</div>
		</div>
	</main>
	
</body>
</html>