<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head}">
<meta charset="UTF-8">
<title>Título de la página</title>
</head>

<body>
	<div th:replace="~{base :: cabecera}">Cabecera</div>

	<div th:replace="~{base :: menu}">Menu de opciones</div>

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Inicio</a></li>
			<li class="breadcrumb-item"><a href="/equipamiento/">Equipamientos</a></li>
			<li class="breadcrumb-item active" aria-current="page">Editar</li>
		</ol>
	</nav>

	<main role="main" class="container">
		<form th:action="@{enviar}" th:object="${equipamiento}" method="post"
			style="border: 1px solid black; padding: 1em">
			<input th:field="*{id}" id="id" type="hidden" />
			<p>
				<label for="descripcion" style="font-weight: bold">Descripción:</label>
				<input th:field="*{descripcion}" id="descripcion" type="text" />
			</p>
			<p>
				<label for="precio" style="font-weight: bold">Precio:</label>
				<input th:field="*{precio}" id="precio" type="number" step="any" min="0" />
			</p>
	
			<a class="btn btn-secondary" th:href="@{..}">Cancelar</a>
			<button class="btn btn-primary" type="submit">Aceptar</button>
		</form>
	</main>
	
</body>
</html>